.book-chapter {
    display: none;
    font-size: 1.77778em;
    font-weight: bold;
    line-height: 1.2;
    page-break-before: always;
    margin: 0.67em 0
    }
.calibre {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.77778em;
    font-weight: 700;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-before: always;
    text-align: center;
    margin: 1.2em 0 0.8em
    }
.calibre1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    list-style-type: decimal;
    margin-bottom: 0.8em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: list-item;
    font-size: 1em;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none
    }
.calibre3 {
    -webkit-box-sizing: border-box;
    background: 0 0;
    box-sizing: border-box;
    color: #4183c4;
    font-size: 1em;
    margin-bottom: -1px;
    padding-right: 5px;
    text-decoration: none;
    border-bottom: #fff solid 1px
    }
.calibre4 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: -1px;
    padding-right: 5px;
    border-bottom: #fff solid 1px
    }
.calibre5 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    list-style-type: lower-roman;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre6 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.77778em;
    font-weight: 700;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-before: always;
    margin: 1.2em 0 0.8em
    }
.calibre7 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    orphans: 3;
    widows: 3;
    margin: 0 0 0.8em
    }
.calibre8 {
    -webkit-box-sizing: border-box;
    background: 0 0;
    box-sizing: border-box;
    color: #4183c4;
    font-size: 1em;
    text-decoration: none
    }
.calibre9 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    height: auto;
    max-width: 100%;
    page-break-inside: avoid;
    width: auto;
    border: currentColor none 0
    }
.calibre10 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    list-style-type: disc;
    margin-bottom: 0.8em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre11 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: list-item;
    font-size: 1em
    }
.calibre12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.48148em;
    font-weight: 700;
    line-height: 1.2;
    orphans: 3;
    page-break-after: avoid;
    widows: 3;
    margin: 1.2em 0 0.8em
    }
.calibre13 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.62963em;
    font-weight: 700;
    line-height: 1.2;
    orphans: 3;
    page-break-after: avoid;
    page-break-before: always;
    widows: 3;
    margin: 1.2em 0 0.8em
    }
.calibre14 {
    -webkit-box-sizing: border-box;
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: inherit;
    direction: ltr;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.88889em;
    page-break-inside: avoid;
    margin: 0;
    border: currentColor none medium;
    padding: 0.2em
    }
.calibre15 {
    -webkit-box-sizing: border-box;
    background: #f7f7f7;
    box-sizing: border-box;
    color: inherit;
    direction: ltr;
    display: block;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1em;
    overflow: auto;
    page-break-inside: avoid;
    white-space: pre-wrap;
    word-wrap: normal;
    margin: 0 0 1.2em;
    border: currentColor none medium;
    padding: 0.85em 1em
    }
.calibre16 {
    -webkit-box-sizing: border-box;
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: inherit;
    direction: ltr;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.85em;
    line-height: 1.2;
    page-break-inside: avoid;
    margin: 0;
    border: currentColor none medium;
    padding: 0.2em
    }
.calibre17 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 700
    }
.calibre18 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.62963em;
    font-weight: 700;
    line-height: 1.2;
    orphans: 3;
    page-break-after: avoid;
    widows: 3;
    margin: 1.2em 0 0.8em
    }
.calibre19 {
    -webkit-box-sizing: border-box;
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: inherit;
    direction: ltr;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.90909em;
    line-height: 1.2;
    page-break-inside: avoid;
    margin: 0;
    border: currentColor none medium;
    padding: 0.2em
    }
.calibre20 {
    -webkit-box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    display: table;
    font-size: 1em;
    margin-bottom: 0.8em;
    margin-top: 0;
    overflow: auto;
    page-break-inside: avoid;
    text-indent: 0;
    width: 100%
    }
.calibre21 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-header-group;
    font-size: 1em;
    vertical-align: middle
    }
.calibre22 {
    -webkit-box-sizing: border-box;
    background-color: #fff;
    box-sizing: border-box;
    display: table-row;
    font-size: 1em;
    page-break-inside: avoid;
    vertical-align: inherit;
    border-top: #ccc solid 1px
    }
.calibre23 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    font-size: 1em;
    font-weight: 700;
    vertical-align: inherit;
    border: #ddd solid 1px;
    padding: 6px 13px
    }
.calibre24 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-row-group;
    font-size: 1em;
    vertical-align: middle
    }
.calibre25 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    font-size: 1em;
    text-align: inherit;
    vertical-align: inherit;
    border: #ddd solid 1px;
    padding: 6px 13px
    }
.calibre26 {
    -webkit-box-sizing: border-box;
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: table-row;
    font-size: 1em;
    page-break-inside: avoid;
    vertical-align: inherit;
    border-top: #ccc solid 1px
    }
.calibre27 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #858585;
    display: block;
    font-size: 1em;
    page-break-inside: avoid;
    margin: 0 0 0.8em;
    border-left: #e5e5e5 solid 4px;
    padding: 0 15px
    }
.calibre28 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em
    }
.dir {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #000;
    display: block;
    font-family: serif;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-size-adjust: 100%;
    margin: 0 5pt
    }
.hljs-built_in {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f5871f;
    font-size: 1em
    }
.hljs-comment {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #8e908c;
    font-size: 1em
    }
.hljs-function {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #4271ae;
    font-size: 1em
    }
.hljs-keyword {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #8959a8;
    font-size: 1em
    }
.hljs-operator {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em
    }
.hljs-string {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #718c00;
    font-size: 1em
    }
.hljs-tag {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #c82829;
    font-size: 1em
    }
.inner {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    margin-bottom: 4px;
    border-bottom: #eee dotted 1px
    }
.javascript {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    opacity: 0.5
    }
.lang-bash {
    -webkit-box-sizing: border-box;
    background: 0 0;
    background-color: #f7f7f7;
    box-sizing: border-box;
    color: inherit;
    direction: ltr;
    display: inline;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.88889em;
    line-height: inherit;
    max-width: initial;
    overflow: initial;
    page-break-inside: avoid;
    white-space: pre-wrap;
    margin: 0;
    border: currentColor none medium;
    padding: 0
    }
.page {
    display: block
    }
.page1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    font-size: 1em;
    margin-bottom: -1px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: #fff solid 1px
    }
.section {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #000;
    display: block;
    line-height: 1.6;
    overflow: hidden;
    text-size-adjust: 100%;
    word-wrap: break-word
    }
.pcalibre3:before {
    content: " ";
    letter-spacing: -0.2em
    }
.pcalibre5:before {
    content: normal;
    letter-spacing: -0.2em
    }
.pcalibre:focus {
    outline: 0;
    text-decoration: underline
    }
.pcalibre4:after {
    content: " ";
    letter-spacing: -0.2em
    }
.pcalibre6:after {
    content: normal;
    letter-spacing: -0.2em
    }
.pcalibre1:hover {
    outline: 0;
    text-decoration: underline
    }
.pcalibre2:active {
    outline: 0;
    text-decoration: underline
    }
